.highlight .bp { color: #366 } /* Name.Builtin.Pseudo */
.highlight .c { color: var(--nord3) } /* Comment */
.highlight .c1 { color: var(--nord3) } /* Comment.Single */
.highlight .cm { color: var(--nord3); font-style: italic } /* Comment.Multiline */
.highlight .cp { color: var(--nord10) } /* Comment.Preproc */
.highlight .cs { color: var(--nord12) } /* Comment.Special */
.highlight .err { color: var(--nord11) } /* Error */
.highlight .gd { background-color: #fcc; border: 1px solid #c00 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #030; } /* Generic.Heading */
.highlight .gi { background-color: #cfc; border: 1px solid #0c0 } /* Generic.Inserted */
.highlight .go { color: var(--nord14) } /* Generic.Output */
.highlight .gp { color: #009; } /* Generic.Prompt */
.highlight .gr { color: #f00 } /* Generic.Error */
/* .highlight .gs { } */ /* Generic.Strong */
.highlight .gt { color: #9c6 } /* Generic.Traceback */
.highlight .gu { color: #030; } /* Generic.Subheading */
.highlight .k { color: var(--nord9); } /* Keyword */
.highlight .kc { color: var(--nord9); } /* Keyword.Constant */
.highlight .kd { color: var(--nord9); } /* Keyword.Declaration */
.highlight .kn { color: var(--nord9); } /* Keyword.Namespace */
.highlight .kp { color: var(--nord9) } /* Keyword.Pseudo */
.highlight .kr { color: var(--nord9); } /* Keyword.Reserved */
.highlight .kt { color: var(--nord7) } /* Keyword.Type */
.highlight .m { color: var(--nord15) } /* Literal.Number */
.highlight .il { color: var(--nord15) } /* Literal.Number.Integer.Long */
.highlight .mf { color: var(--nord15) } /* Literal.Number.Float */
.highlight .mh { color: var(--nord15) } /* Literal.Number.Hex */
.highlight .mi { color: var(--nord15) } /* Literal.Number.Integer */
.highlight .mo { color: var(--nord15) } /* Literal.Number.Oct */
.highlight .na { color: var(--nord4) } /* Name.Attribute */
.highlight .nb { color: var(--nord8) } /* Name.Builtin */
.highlight .nc { color: var(--nord7); } /* Name.Class */
.highlight .nd { color: var(--nord12) } /* Name.Decorator */
.highlight .ne { color: var(--nord11) } /* Name.Exception */
.highlight .nf { color: var(--nord8) } /* Name.Function */
.highlight .ni { color: var(--nord8) } /* Name.Entity */
.highlight .nl { color: var(--nord8) } /* Name.Label */
.highlight .nn { color: var(--nord8) } /* Name.Namespace */
.highlight .no { color: var(--nord4) } /* Name.Constant */
.highlight .nt { color: var(--nord9) } /* Name.Tag */
.highlight .nv { color: #033 } /* Name.Variable */
.highlight .o { color: var(--nord9) } /* Operator */
.highlight .ow { color: var(--nord9) } /* Operator.Word */
.highlight .p { color: var(--nord6) } /* Braces and Brackets */
.highlight .s { color: var(--nord14) } /* Literal.String */
.highlight .s1 { color: var(--nord14) } /* Literal.String.Single */
.highlight .s2 { color: var(--nord14) } /* Literal.String.Double */
.highlight .sb { color: var(--nord14) } /* Literal.String.Backtick */
.highlight .sc { color: var(--nord14) } /* Literal.String.Char */
.highlight .sd { color: var(--nord14); font-style: italic } /* Literal.String.Doc */
.highlight .se { color: var(--nord14) } /* Literal.String.Escape */
.highlight .sh { color: var(--nord14) } /* Literal.String.Heredoc */
.highlight .si { color: var(--nord14) } /* Literal.String.Interpol */
.highlight .sr { color: var(--nord14) } /* Literal.String.Regex */
.highlight .ss { color: var(--nord14) } /* Literal.String.Symbol */
.highlight .sx { color: var(--nord14) } /* Literal.String.Other */
.highlight .vc { color: var(--nord7) } /* Name.Variable.Class */
.highlight .vg { color: var(--nord4) } /* Name.Variable.Global */
.highlight .vi { color: var(--nord4) } /* Name.Variable.Instance */
.highlight .w { color: var(--nord4) } /* Text.Whitespace */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
