.incomplete:after {
	content:" \26A0";
}

.active .indented:before {
	content:"\00BB";
	position:absolute;
	margin-left: -40px;
}
.indented {
	margin-left: 40px;
}
.active .sectionheader:before {
	content:"\00BB";
	position:absolute;
	margin-left: -20px;
}
.sectionheader {
	margin-left: 20px;
}
.flex-container {
	display: flex; flex-flow: row wrap;
}
.flex-object {
	width:450px;
}
