<div class="sidebar">
    <div class="container">
        <div class="sidebar-about">
            {% unless page.title == "Documentation" or page.layout == "doc" %}
                <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
                <p class="lead">{{ site.description }}</p>
            {% endunless %}
        </div>
        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
            {% assign pages_list = site.pages | where: "layout", "page" | sort: "title" %}
            {% for item in pages_list %}
                <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url | prepend:site.baseurl }}">{{ item.title }}</a>

                <!-- Children for Documentation -->
                {% if item.children == "doc" and (page.children == "doc" or page.layout == "doc") %}
                    {% assign docs_list = site.pages | where: "layout", "doc" | sort: "subsection" | sort: "section" %}
                    {% for doc in docs_list %}
                        {% if doc.section == page.section or doc.subsection == 0 %}
                            <a class="sidebar-nav-item{% if page.url == doc.url %} active{% endif %}" href="{{ doc.url | prepend:site.baseurl }}">
                                <span class="{% if doc.subsection == 0 %}sectionheader {% endif %}indented">
                                    {{ doc.section }}{% if doc.subsection != 0 %}.{{ doc.subsection }}{% endif %} - {{ doc.title }}
                                </span>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <!-- Children for Blog -->
                {% if item.children == "post" and (page.children == "post" or page.layout == "post") %}
                    {% assign post_list = site.posts | sort: "date" %}
                    {% for item in post_list %}
                        <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url | prepend:site.baseurl }}">
                            <span class="indented">{{ item.title }}<span>
                        </a>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
            <a class="sidebar-nav-item" href="{{ site.discord.url }}">Discord</a>
            <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
            <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
        </nav>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
        <p>Built with the <a href="https://hyde.getpoole.com">Hyde theme</a></p>
    </div>
</div>
